	.avalonia-build-tasks/
	GIMP/
	KDE/
	PlasmaDiscoverUpdates
	ProtonPlus/
	QtProject.conf
	QtProject/
	Thunar/
	Trolltech.conf
	arkrc
	assets
	autostart/
	baloofileinformationrc
	baloofilerc
	bluedevilglobalrc
	brave-flags.conf
	cava/
	conky-manager2.json
	copyq/
	dconf/
	discoverrc
	dolphinrc
	drkonqirc
	easyeffects/
	emaildefaults
	filetypesrc
	fuzzel/
	galculator/
	gh/
	go/
	goverlay/
	gtk-3.0/
	gtk-4.0/
	gtkrc
	gtkrc-2.0
	hardinfo2/
	heroic/
	htop/
	kactivitymanagerd-statsrc
	kactivitymanagerdrc
	kate-externaltoolspluginrc
	kate/
	katemetainfos
	katerc
	katevirc
	kcmfonts
	kcminputrc
	kconf_updaterc
	kded5rc
	kded6rc
	kdedefaults/
	kdeglobals
	kfontinstuirc
	kglobalshortcutsrc
	kiorc
	kmenueditrc
	konsolerc
	konsolesshconfig
	kplymouththemeinstallerrc
	krdpserverrc
	kscreenlockerrc
	ksmserverrc
	ksplashrc
	ktimezonedrc
	kwalletrc
	kwinoutputconfig.json
	kwinrc
	kwinrulesrc
	lapce-nightly/
	lapce-stable/
	lazygit/
	libaccounts-glib/
	libreoffice/
	menus/
	mimeapps.list
	networkmanager-dmenu/
	nvtop/
	nwg-look/
	obs-studio/
	pavucontrol.ini
	plasma-localerc
	plasma-nm
	plasma-org.kde.plasma.desktop-appletsrc
	plasma-welcomerc
	plasmanotifyrc
	plasmaparc
	plasmarc
	plasmashellrc
	powerdevilrc
	powermanagementprofilesrc
	pulse/
	pupgui/
	qBittorrent/
	qtengine/
	sddmthemeinstallerrc
	session/
	simple-update-notifier/
	spectaclerc
	spicetify/
	systemd/
	systemmonitorrc
	topgrade.toml
	trashrc
	user-dirs.dirs
	user-dirs.locale
	uwsm
	vesktop/
	vkBasalt/
	vlc/
	waypaper/
	wekde/
	wireplumber/
	xdg-desktop-portal/
	xfce4/
	xsettingsd/
	zen/
	zoom.conf
	zoom/
	zoomus.conf