/* Global Reset */
* {
    font-family: "JetBrainsMono NF", "Symbols Nerd Font", sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

/* Unified Pill Style */
#window, #pulseaudio, #backlight, #network, #bluetooth,
#cpu, #memory, #battery, #clock, #tray, #custom-powerprofile, #custom-mpv-music{
    background-color: rgba(0, 0, 0, 0.6);
    color: #00FFFF;
    border: 2px solid #FFB7C5;
    border-radius: 12px;
    margin: 0 4px;
    padding: 0 12px; /* Vertical 0, Horizontal 12 */
    min-height: 0;
}

/* Hover Effects */
#window:hover, #pulseaudio:hover, #backlight:hover, 
#network:hover, #bluetooth:hover, #cpu:hover, #memory:hover, 
#battery:hover, #clock:hover, #tray:hover, 
#custom-notification:hover {
    border-color: #00FFFF;
    color: #FFB7C5;
}

/* Workspaces Specific */

#workspaces {
    background-color: rgba(0, 0, 0, 0.6);
    color: #00FFFF;
    border: 2px solid #FFB7C5;
    border-radius: 12px;
    margin: 0 4px;
    padding: 0 2px; /* Vertical 0, Horizontal 12 */
    min-height: 0; 

}

#workspaces button {
    color: #FFB7C5;
    padding: 0 0px;
    min-height: 0;
}

#workspaces button.active {
    color: #00FFFF;
}

#tray { margin-left: 10px; }

